ul#menu li {
  display: inline;

  padding-right: 10px;
  padding-left: 0px;
  text-decoration: underline;
  color: rgb(236, 36, 99);
}
ul {
  padding-inline-start: 3px;
  font-weight: bold;
}
body {
  background-color: #333571;
  margin: 20px;
  color: white;
  width: 80%;
}
h2 {
  color: #00b067;
  font-size: 30px;
}
h1 {
  font-size: 35px;
}
p {
  color: whitesmoke;
}
